<ion-header>
  <ion-toolbar>
    <ion-title>
      HOT DOG do Felix
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/add-dog']">
        <ion-icon name="add" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngFor="let hot of hotdogs">
        <ion-card>
          <ion-card-content>
              <ion-card-title class="title">
                  {{hot.nome}}
                </ion-card-title>
            <ion-card-subtitle class="description">
              {{hot.desc}}
            </ion-card-subtitle>
            <h1 class="price">{{hot.preco}}</h1>
            <ion-button (click) = "detalhes(hot.title, hot.price, hot.image)" expand="block" color="danger">
              <ion-icon name="card"></ion-icon>
              <p>Comprar</p>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </div>
</ion-content>